@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 40.7rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: solid 1px gray;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
